<!DOCTYPE html> 
<html> 
    <header>
        <meta charset="utf-8">
        <title>Some Website</title>
    </header>
    
    <body>
        <h1>We'll ne right back</h1>
        <p>This site is currently being updated</p>
    </body>
</html>